<!DOCTYPE HTML>
<html>
  <head>
	  <meta charset="UTF-8">
	  <title>Create Map Sample | Longdo Map</title>
	  <style type="text/css">
		html{
		  height:90%; 
		}
		body{ 
		  margin:0px;
		  height:100%; 
		}
		#map {
		  height: 100%;
		}
	  </style>

	  <script type="text/javascript" src="https://api.longdo.com/map/?key=19d834440f9ee5958b68123c8a4c6d6b"></script>
	  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	  <script>

		function init() {
		  map = new longdo.Map({
			placeholder: document.getElementById('map')
		  });
		  rerverseGeocoding();
		}

		function rerverseGeocoding() { 
		  $.ajax({ 
				  url: "https://api.longdo.com/map/services/address?", 
				  dataType: "json", 
				  type: "GET", 
				  contentType: "application/json", 
				  data: {
					  key: "19d834440f9ee5958b68123c8a4c6d6b",
					  lon: 100.53726,
					  lat: 13.72427
			  },
			  success: function (results)
			  {
				  alert('ghjkl')
				  console.log(results);
			  },
			  error: function (response)
			  {
				  console.log(response);
			  }
		  });
		}
	  </script>
  </head>
  <body onload="init();">
	  <div id="map"></div>
  </body>
</html>